@layer base {
    .icon {
        @apply
        aspect-square
        inline-block
        bg-contain
        bg-no-repeat
        bg-center
        w-[1em]
        h-[1em]
        align-text-top
    }

    .icon--search-green {
        background-image: url('/src/assets/icons/search-green.svg');
    }
}