@layer components {
    .a-btn {
        @apply
        px-4
        py-2
        cursor-pointer
        rounded-full;
    }

    .a-btn--c-primary {
        @apply
        bg-prim
        text-white;
    }

    .a-btn--c-primary:hover {
        @apply
        bg-sec;
    }
}