@layer components {
    .o-section {
        @apply
        flex
        justify-center
        my-auto
        @container;

        &:not(:first-child) {
            @apply
            py-8;
        }
    }

    .o-section--dummy {
        @apply
        h-60
        text-2xl
        
        bg-white;
    }

    .o-section--dummy-gradient {
        @apply
        h-60
        text-white
        text-2xl
        
        u-gradient-to-r;
    }
}