@layer components {
    .m-cta {
        @apply
        flex
        flex-col
        justify-center
        items-center
        gap-8
        
        w-full
        max-w-[1440px]
        
        aspect-[7/3]
        bg-no-repeat
        bg-cover
        bg-center

        mt-[-15%]
        mb-0
        pt-[25%]
        pb-[15%]
        mx-[-20%]
        px-[5%]
        
        text-white
        @container-normal;

        background-image: url(./src/assets/images/cta-background.svg);
    }

    @screen md {
        .m-cta {
            @apply
            grid
            grid-cols-2
            gap-12;
        }
    }

    @screen lg {
        .m-cta {
            @apply
            bg-contain

            my-0
            py-[10%]
            mx-auto
            px-28;
            
            grid-template-columns: 1fr 40%;
        }
    }

    @screen xl {
        .m-cta {
            grid-template-columns: 1fr 35%;
        }
    }

    .m-cta__header {
        @apply
        flex
        flex-col
        gap-4
        justify-center
        items-center
        text-center;
    }

    @screen md {
        .m-cta__header {
            @apply
            items-start
            text-left;
        }
    }

    .m-cta__action {
        @apply
        w-[80%]
        md:w-auto;
    }

    .m-cta__content {
        @apply
        flex
        flex-col
        flex-wrap
        justify-center
        items-center
        w-full;
    }

    @screen md {
        .m-cta__content {
            @apply
            flex
            flex-wrap
            justify-center
            items-center
            gap-6;
        }
    }

    .m-cta__tags-container {
        @apply
        flex
        w-full
        overflow-x-auto

        u-mask-to-transparent-v;

        --mask-width: 10%;
        mask-image: var(--mask-image-content);

        
        -ms-overflow-style: none!important;
        scrollbar-width: thin!important;
        &::-webkit-scrollbar {
            display: none!important;
        }
    }

    @screen md {
        .m-cta__tags-container {
            mask-image: none;
        }
    }

    .m-cta__tags {
        @apply
        flex-auto
        flex-shrink-0
        flex
        gap-2
        px-[10%]
        pb-4;
    }

    @screen md {
        .m-cta__tags {
            @apply
            flex-shrink
            justify-center
            flex-wrap
            pb-0
            px-0;
        }
    }

    .m-cta__tag {
        @apply flex-shrink-0;
    }

    .m-cta__info {
        @apply
        hidden
        md:flex
    }


}