@layer components {
    .m-cta {
        @apply
        flex
        flex-col
        justify-center
        items-center
        gap-8
        
        w-full
        max-w-[1440px]
        
        aspect-[7/3]
        bg-no-repeat
        bg-cover
        bg-center

        mt-[-15%]
        mb-0
        mx-[-20%]
        pt-[25%]
        pb-[15%]
        px-[5%]
        
        text-white
        @container-normal;

        background-image: url(./src/assets/images/cta-background.svg);

        @screen md {
            @apply
            grid
            grid-cols-2
            gap-12;
        }

        @screen lg {
            @apply
            bg-contain

            my-0
            mx-auto
            py-[10%]
            px-28;
            
            grid-template-columns: 1fr 40%;
        }
        @screen xl {
            grid-template-columns: 1fr 35%;
        }
    }


    /* HEADER */
    .m-cta__header {
        @apply
        flex
        flex-col
        gap-4
        justify-center
        items-center
        text-center;

        @screen md {
            @apply
            items-start
            text-left;
        }
    }

    .m-cta__action {
        @apply
        w-[80%]
        md:w-auto;
    }


    /* CONTENT */
    .m-cta__content {
        @apply w-full;

        @screen md {
            @apply
            flex
            flex-wrap
            justify-center
            items-center
            gap-6;
        }
    }

    .m-cta__tags {
        @apply
        flex
        gap-2
        
        px-[10%]
        pb-4
        
        w-full
        overflow-x-auto
        
        u-no-scroll-bar
        u-mask-image-to-transparent-v;

        @screen md {
            @apply
            flex-shrink
            justify-center
            flex-wrap
            pb-0
            px-0
            
            u-mask-image-none;
        }
    }

    .m-cta__tag {
        @apply flex-shrink-0;
    }

    .m-cta__info {
        @apply
        hidden
        md:block
    }
}