@layer utilities {
    .u-no-scroll-bar {
        -ms-overflow-style: none!important;
        scrollbar-width: thin!important;
        &::-webkit-scrollbar {
            display: none!important;
        }
    }
}